#word {
  z-index: 1;
  width: 40px;
  height: 50px;
  /*margin-top: 20%;*/
  position: absolute;
  float: left;
  cursor: pointer;
  animation: mymove 5s both;
  opacity: 0;
}
#word:hover{
  border:8px double blue;
}
@keyframes mymove {
  to {opacity:1;}
}
/*//////////////////////*/
/*#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}*/
/*#myImg:hover {opacity: 0.7;}*/
.modal_myImg {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal_content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.modal_content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}
@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}
.close {
  position: absolute;
  top: 150px;
  right: 100px;
  color: #00ff00;
  font-size: 60px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #ffff00;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 700px){
  .modal_content {
    width: 100%;
  }
}